$isabelline: #EDE3E1ff;
$desert-sand: #DCB5A4ff;
$burnt-sienna: #CC876Aff;
$tea-green: #C8DBBFff;
$olivine: #A3C392ff;
$asparagus: #7FAA65ff;
$beaver: #A08675ff;
$raw-umber: #896B53ff;
$coffee: #704E33ff;
$walnut-brown: #675A49ff;
$walnut-brown-2: #584936ff;
$caf-noir: #473622ff;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $beaver;
  color: white;
  width: calc(100vw - 40px);

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
          color: #cc876a;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  button {
    padding: 10px 20px;
    background-color: $burnt-sienna;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $raw-umber;
    }
  }
}

.user-dropdown {
  display: flex;
  align-items: center;

  .dropdown-menu {
    position: absolute;
    background-color: $beaver;
    top: 60px;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1100;
  }

  .dropdown-menu button {
    padding: 10px 20px;
    background-color: #cc876a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    text-wrap: nowrap;

    &:hover {
      background-color: #896b53;
    }
  }
}