$isabelline: #EDE3E1ff;
$desert-sand: #DCB5A4ff;
$burnt-sienna: #CC876Aff;
$tea-green: #C8DBBFff;
$olivine: #A3C392ff;
$asparagus: #7FAA65ff;
$beaver: #A08675ff;
$raw-umber: #896B53ff;
$coffee: #704E33ff;
$walnut-brown: #675A49ff;
$walnut-brown-2: #584936ff;
$caf-noir: #473622ff;

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: $beaver;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);

  &.open {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;

    &.open {
      transform: translateX(0);
    }
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar a {
  color: $caf-noir;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 10px 0;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #cc876a;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;

  .bar {
    width: 25px;
    height: 3px;
    background-color: $caf-noir;
    margin: 5px 0;
    transition: 0.4s;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.logo {
  margin-left: 0;

  @media (max-width: 768px) {
    margin-left: 50px; /* Adjust this value as needed to make space for the hamburger menu */
  }
}